{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
  {% for error in form.file_obj.errors %}
    <article class="message is-danger">
      <div class="message-body">
        {{ error }}
      </div>
    </article>
  {% endfor %}
  {% for error in form.non_field_errors %}
    <article class="message is-danger">
      <div class="message-body">
        {{ error }}
      </div>
    </article>
  {% endfor %}
  <h1>Add File</h1>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" name="file_obj" id="file_obj">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>
		<div id="filename">
		</div>
    <div class="field">
      <button class="button is-link" type="submit">Upload</button>
    </div>
  </form>
</div>
<script type="text/javascript" src="{% static 'filestore/file_form.js' %}"></script>
{% endblock %}
