{% extends 'base.html' %}

{% load static %}

{% block content %}
{{ form.errors }}
<form action="{% url 'file-list' %}" method="post">
  {% csrf_token %}
  <div class="content">
    <h1>Files</h1>
    <p><a href="{% url 'file-create' %}">Add File</a></p>
    {% if files %}
    <table class="table is-striped is-hoverable">
      <thead>
        <tr>
          <th></th>
          <th>Filename</th>
          <th>Size</th>
          <th>SHA256</th>
          <th>Added</th>
          <th>Proc. Time</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          <tr>
            <td><input type="checkbox" value="{{ file.id }}" name="selected_files"></td>
            <td>
              <div class="tooltip"><a href="{% url 'file-detail' file.sha256 %}">{{ file.file_name }}</a>
                <span class="tooltiptext">{{ file.file_type|truncatechars:50 }}</span>
              </div>
            </td>
            <td>{{ file.size|filesizeformat }}</td>
            <td>
              <div class="tooltip">{{ file.sha256|truncatechars:15 }}
                <span class="tooltiptext">{{ file.sha256 }}</span>
              </div>
            </td>
            <td>{{ file.added|date:"Y-m-d H:i:s" }}</td>
            <td>{{ file.time_to_process }} ms</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class="button is-link is-danger">Delete</button>
    {% else %}
      <p>No Files</p>
    {% endif %}
  </div>
  </form>
{% endblock %}
