{% extends 'base.html' %}

{% load static %}

{% block content %}
{{ form.errors }}
  <div class="content">
    <h1>Folders</h1>
    <p><a href="{% url 'folder-create' %}">Add Folder</a></p>
    {% if folders %}
    <button class="button is-link is-danger" id="show_delete_modal_btn">Delete<span class="num_folders_selected"></span></button>
    <form action="{% url 'folder-list' %}" method="post">
    <div class="modal" id="confirm_delete_modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Confirm Deletion</p>
        </header>
        <section class="modal-card-body">
          Are you sure you want to delete these <span class="num_folders_selected"></span>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-danger">Confirm Delete</button>
          <a class="button" id="cancel_delete_btn">Cancel</a>
        </footer>
      </div>
    </div>
    {% csrf_token %}
    <table class="table is-striped is-hoverable">
      <thead>
        <tr>
          <th><input type="checkbox" id="select_all"></th>
          <th>Path</th>
          <th>Number of Files</th>
          <th>Recursive</th>
        </tr>
      </thead>
      <tbody>
        {% for folder in folders %}
          <tr>
            <td><input type="checkbox" class="selected_folders" value="{{ folder.id }}" name="selected_folders"></td>
            <td><a href="{% url 'folder-detail' folder.pk %}">{{ folder.path }}</a></td>
            <td>{{ folder.num_files }}</td>
            <td>{{ folder.recursive }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No folders</p>
    {% endif %}
  </div>
</form>
<script>
'use strict';

document.addEventListener('DOMContentLoaded', function () {
  var rootEl = document.documentElement;
  var num_folders = parseInt('{{ folders|length }}');
  var num_folders_selected = 0;
  var num_folders_selected_spans = document.getElementsByClassName('num_folders_selected');

  var show_delete_modal_btn = document.getElementById('show_delete_modal_btn');
  if (show_delete_modal_btn) {
    show_delete_modal_btn.addEventListener('click', function() {
      var confirm_delete_modal = document.getElementById('confirm_delete_modal');
      rootEl.classList.add('is-clipped');
      confirm_delete_modal.classList.add('is-active');
    });
  }

  var cancel_delete_btn = document.getElementById('cancel_delete_btn');
  if (cancel_delete_btn) {
    cancel_delete_btn.addEventListener('click', function() {
      var confirm_delete_modal = document.getElementById('confirm_delete_modal');
      rootEl.classList.remove('is-clipped');
      confirm_delete_modal.classList.remove('is-active');
    });
  }

  var select_all = document.getElementById('select_all');
  if (select_all) {
    select_all.addEventListener('click', function() {
      if (select_all.checked) {
        for (const selected_folder of selected_folders) {
          selected_folder.checked = true;
        }
      } else {
        for (const selected_folder of selected_folders) {
          selected_folder.checked = false;
        }
      }
      update_form();
    });
  }

  function update_form() {
    if (num_folders > 0) {
      var checkedOne = select_all.checked || Array.prototype.slice.call(selected_folders).some(x => x.checked);
      var num_folders_text = null;
      if (checkedOne) {
        num_folders_selected = Array.prototype.slice.call(selected_folders).filter(x => x.checked).length;
        show_delete_modal_btn.removeAttribute('disabled');
        num_folders_text = '&nbsp;(' + num_folders_selected + ') folder';
        if (num_folders_selected > 1) {
          num_folders_text += 's';
        }
      } else {
        show_delete_modal_btn.setAttribute('disabled', '');
      }
      console.log('num_folders_text: ' + num_folders_text);

      for (const span of num_folders_selected_spans) {
        span.innerHTML = num_folders_text;
      }
    }
  }

  var selected_folders = document.querySelectorAll('.selected_folders');
  for (const selected_folder of selected_folders) {
    selected_folder.addEventListener('click', function() {
      update_form();
    });
  }
  update_form();
});
</script>
{% endblock %}
