{% extends "base.html" %}

{% block content %}
<div class="content">
  {% for error in form.non_field_errors %}
    <article class="message is-danger">
      <div class="message-body">
        {{ error }}
      </div>
    </article>
  {% endfor %}
  <h1>Add Folder</h1>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	  <div class="field">
      <label class="label">Path</label>
      <div class="control">
        <input class="input" type="text" name="path" placeholder="/some/path" required>
      </div>
	  </div>
    <div class="field">
      <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="recursive">
        Recursively Scan Directory
      </label>
      </div>
    </div>
    <div class="field">
      <div class="control">
	       <button class="button is-link" type="submit">Add</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
